<form class="login-form" [formGroup]="loginFormGroup">
  <h3>Login</h3>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailCtrl" />

    <mat-error *ngIf="emailCtrl.hasError('email')">
      Please enter a valid email address
    </mat-error>

    <mat-error *ngIf="emailCtrl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!loginFormGroup.valid"
    (click)="onLogin()"
  >
    Login
  </button>
</form>

<div id="cube">
  <div style="flex-grow: 10">1</div>
  <div style="flex-grow: 5">2</div>
  <div style="flex-grow: 10">3</div>
  <div style="flex-grow: 1">4</div>

  <div id="c2">5</div>
  <div id="c3">6</div>
  <div id="c2">7</div>
  <div id="c3">8</div>
</div>
